<div class="container">
  <h1 class="text-center mt-5">All applicants</h1>
  <div class="row">
  <!-- <div class="row p-5 d-flex justify-content-center"> -->
    <div class="wrapper-video-cards">
      <% @applies.each do |apply| %>
        <% if Resume.find_by(candidate_id: apply.candidate.id).video_url.present? %>
        <%= link_to candidate_dashboard_path(apply.candidate), class: "d-flex"  do %>
          <!-- <div style="margin-bottom: 20px;"> -->
            <div class="video-card-list">
              <div class="video-card-thumb">
                  <%= cl_video_tag(Resume.find_by(candidate_id: apply.candidate.id).video_url, controls: true, width: 400, gravity: "auto", loop: false, autoplay: false, poster: true) %>
              </div>

              <div>
                <p class="video-card-text"> <%= apply.candidate.first_name %>  <%= apply.candidate.last_name %></p>
              </div>
              <div class="video-card-resume">
                <i class="fas fa-file"></i>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

    </div>

  </div>
</div>
