// Define variables for your color scheme

// For example:
$blue: #0B1ACE;
$light-blue: #6FAEF7;

$yellow: #FFE310;

$purple: #48328B;

$green: #AACF37;

$gray: #0E0000;
$light-gray: #F4F4F4;

$white: #FFFFFF;

$orange: orange;
$red: red;
