<div class="bg-how">
  <div id="curvas-bg">
    <div class="container">
      <div class="grid-container-how">

        <div class="text-how">
          <h1>How it works for you:</h1>
          <h2><strong>Job candidates:</strong><br> pitch it and go further!</h2>
          <p>Customize  a short recorded message to highlight your achievements and skills!<br>
          Demonstrate your ability to communicate, especially in English. We will estimate your English skills based on a short ‘elevator pitch' video, which we will pass along to our corporate clients. They will know that your English skills are ‘for real’. They will also be able to view your recording.</p>
        </div>


        <div class="image">
           <%= image_tag('photos.png', height: "400", width: "auto") %>
        </div>

        <div class="text-2">
          <h2><strong>Employers:</strong><br> we shrink your haystack!</h2>
          <p>Jobs requiring English skills often attract hundreds of applicants. Talent acquisition specialists often spend hours separating the genuinely fluent candidates from the pseudo-fluent wannabees. This is an imprecise process, because some candidates exaggerate their English competency and others are overly humble. Sometimes a lot of time is wasted before a candidate's true lack of fluency is known.</p>
        </div>

        <div class="text-3">
          <h2><strong>English Teachers:</strong><br> partner with us and earn commissions!</h2>
          <p>If you have corporate clients who might be interested in our events, please contact us We plan to use credentialed partner English teachers as our primary event marketing channel, and we will pay you a commission when you are cited as the source of a referral by corporate clients.</p>
        </div>


      </div>
    </div>
  </div>
</div>

