<div class="container">
  <div>
    <p>Olá <span><%= @candidate.user.email %></span></p>
  </div>

  <div class="col-6 offset-3 mb-5">
    <%= render 'cand_edit_form' %>

   <%= link_to "Please start your resumes!", new_resume_path %>


</div>




