<div class="row">
  <div class="company-banner">
    <%= image_tag('companybanner.png') %>
  </div>
</div>

<div class="row center">
  <div class="company-logo">
    <%= image_tag('companylogo.png') %>
  </div>
</div>

<div class="row about">
  <h1>Google</h1>
  <p>Our mission is to organise the world’s information and make it universally accessible and useful.
  Committed to significantly improving the lives of as many people as possible.
  Keeping our users safe online with industry-leading tools, features, and principles, as well as educational programmes for children.</p>

<div class="btn btn-jobs">See all jobs</div>
</div>

