<div class="row">
  <% company_banner = @company.banner_url || asset_url('companybanner.png') %>
  <div class="company-banner" style="background-image: url(<%= company_banner %>)"></div>

  <% company_logo = @company.logo_url || asset_url('logo-default.png') %>
  <div class="company-logo" style="background-image: url(<%= company_logo %>)"></div>
  <div class="row about">
    <h1><%= @company.name %></h1>
    <h2>Open jobs</h2>
    <%= render  %>
  <div class="btn btn-jobs">See all jobs</div>
</div>

</div>

