.btn-form {
  background-color: #48328B;
  color: #ffffff;
  padding: 7px 12px 7px 12px;
  font-size: 1.0rem;
  text-align: center;
  font-family: "Space Mono", monospace;
  border-radius: 20px;
  margin-top: 30px;
  width: 110px;

  &:hover {
    background-color: #9BDEDE;
  }
}

.btn-apply-now {
  background-color: #48328B;
  color: white;
  padding: 7px 12px 7px 12px;
  font-size: 1.0rem;
  text-align: center;
  font-family: "Space Mono", monospace;
  border-radius: 20px;
  margin-top: 30px;
  text-decoration: none;

  &:hover {
    background-color: #9BDEDE;
    text-decoration: none;
  }
}

.btn-search {
  background-color: #0B1ACE;
  color: #ffffff;
  font-family: "Space Mono", monospace;
  border-radius: 20px;
  padding: 7px 12px 7px 12px;
  font-size: 1.0rem;
  text-align: center;
  margin-left: 12px;

  &:hover {
    background-color: #9BDEDE;
  }
}


.btn-banner {
  background-color: #9BDEDE;
  color: #1E1544;
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
  font-family: "Space Mono", monospace;
  border-radius: 30px;
  max-width: 25rem;

  &:hover {
    background-color: #FFFFFF;
  }
}


.roundedTwo {
  width: 28px;
  height: 28px;
  position: relative;
  margin: none;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 5px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}

.btn-password {
  background-color: #48328B;
  color: #ffffff;
  padding: 7px 12px 7px 12px;
  font-family: "Space Mono", monospace;
  border-radius: 50px;
  margin-bottom: 15px;

  &:hover {
  background-color: #9BDEDE;
  }
}

.btn-login {
  background-color: #48328B;
  color: #ffffff;
  padding: 7px 12px 7px 12px;
  font-family: "Space Mono", monospace;
  border-radius: 50px;
  margin-bottom: 15px;

  &:hover {
  background-color: #9BDEDE;
  }
}

.btn-signup {
  background-color: #48328B;
  color: #ffffff;
  padding: 7px 12px 7px 12px;
  font-family: "Space Mono", monospace;
  border-radius: 50px;
  margin-bottom: 15px;

  &:hover {
  background-color: #9BDEDE;
  }
}

.btn-forgot {
  background-color: #48328B;
  color: #ffffff;
  padding: 7px 12px 7px 12px;
  font-family: "Space Mono", monospace;
  border-radius: 50px;
  margin-bottom: 20px;

  &:hover {
  background-color: #9BDEDE;
  }
}


.btn-linkedin {
  background-color: #48328B;
  color: #ffffff;
  padding: 7px 12px 7px 12px;
  font-family: "Space Mono", monospace;
  border-radius: 50px;
  margin-bottom: 20px;

  &:hover {
  background-color: #9BDEDE;
  }
}

.text-muted {
  // color: white !important;
}

legend {
  color: white !important;
}
