.container-flex {
  display: flex;
  min-height: 300px;
  flex-direction: row;
  justify-content: center;
  margin-top: -40vh;
  align-items: flex-end;
  overflow: hidden;
}

.container-home{
  width: 80vw;
  margin: auto;
}

.cards-offers {
    background-color: #6FAEF7;
    padding: 20px;
    height: 18rem;


    .offer-h1 {
    font-size: 1.5rem;
    text-align: left;
    font-family: "Space Mono", monospace;
    font-weight: bold;
    color: #0055C9;
    }

    .offer-h2 {
    font-size: 1.2rem;
    text-align: left;
    padding-bottom: 10px;
    font-family: "Space Mono", monospace;
    color: #0055C9;
    }

    .offer-p {
    font-size: 1.0rem;
    text-align: left;
    font-family: "Nunito", Helvetica, Sans-serif;
    color: white;
    }
  }

.card-job {
  background: white;
  display: flex;
  // align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  img {
    height: 10vh;
    width: auto;
    // max-width: 100%;
    object-fit: contain;
  }
}

.card-job-image {
  height: 130px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}

.card-job-infos {
  padding: 20px 10px 20px 10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  a{
    z-index: 2;
  }
}

.cards > a:hover {
  text-decoration: none;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.index-offers {
  background-color: #0B1ACE;
  padding: 100px;

  h1 {
    color: #AACF37;
  }
}


//
//   }

//   .cards-items {
//     margin-top: 30px;
//     position: absolute;
//     bottom: 0;
//     padding: 5rem 5rem 0 5rem;
//     width: 98vw;
//   }


// .container {
//   // border:2px dashed purple;
// }

// .search {
//   // border: 2px dotted yellow;
//   background-color: #FFE310;
//   margin-top: -30px;
//   width: 100vw;
//   height: 250px;
//   display: flex;
//   justify-content: center;
//   padding: 70px 0px 70px 0px;
// }


// .infos {
//  // border: 3px dotted pink;
//   height: 40px;
//   display: flex;
//   padding: 40px;
// }
//   .texto {
//    // border: 3px dotted black;
//     height: 400px;
//     width: 50%;
//     margin-top: -30px;
//     padding: 40px 0px 0px 40px;
//     background-color: #D0E3FC;
//     background-size: cover;
//     // width: 50vw;
//     // height: 400px;
//     background-repeat: no-repeat;

//     h1 {
//       color: #0B1ACE;
//       font-weight: 800;
//       font-size: 2.5rem;
//       text-align: left;
//       font-family: "Space Mono", monospace;
//     }

//     h2 {
//       color: #0B1ACE;
//       font-size: 1.2rem;
//       text-align: left;
//       font-family: "Space Mono", monospace;
//     }

//     p {
//       color: #48328B;
//       font-size: 1.1rem;
//       text-align: left;
//       font-family: "Nunito", Helvetica, Sans-serif;
//     }
// }


// }
