.text-contactus {
  grid-area: text;
  background: #D0E3FC;
  width: 100%;
  padding: 60px;

  h1 {
    color: #0B1ACE;
    font-weight: 800;
    font-size: 2.0rem;
    text-align: left;
    font-family: "Space Mono", monospace;
  }

  h2 {
    color: #0B1ACE;
    font-size: 1.1rem;
    text-align: left;
    font-family: "Space Mono", monospace;
  }

  p {
    color: #48328B;
    font-size: 1.0rem;
    text-align: left;
    font-family: "Nunito", Helvetica, Sans-serif;
  }

}

.grid-container {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-column-gap: 10px;
  // grid-row-gap: 10px;

  grid-template-areas:
    "image text"
}



// .infos {
//   display: table;
//   width: 100%;
//   height: 200px;

// }

// .mapa {
//   width: 50%;
//   display: table-cell;
// }

// .blue-box {
//   background: #D0E3FC;
//   width: 50%;
//   display: table-cell;
//   padding: 40px;


//   h1 {
//     color: #0B1ACE;
//     font-weight: 800;
//     font-size: 2.5rem;
//     text-align: left;
//     font-family: "Space Mono", monospace;
//   }

//   h2 {
//     color: #0B1ACE;
//     font-size: 1.2rem;
//     text-align: left;
//     font-family: "Space Mono", monospace;
//   }

//   p {
//     color: #48328B;
//     font-size: 1.1rem;
//     text-align: left;
//     font-family: "Nunito", Helvetica, Sans-serif;
//   }
// }


// @media (max-width: 600px) {
//   .mapa {
//     display: block;
//     height: 400px;
//     width: 100%;
//   }

//   .blue-box {
//     display: block;
//     height: 150px;
//     width: 100%;
//   }
// }

// .footer {
//   background-color: #ffffff;
//   height: 60px;

//     p {
//     color: #48328B;
//     font-size: 1.1rem;
//     text-align: left;
//     font-family: "Nunito", Helvetica, Sans-serif;
//     font-weight: 800;
//     font-align: center;
//     padding: 20px;
//   }

// }


