// DIVS //

.cand-dash-bg {
  background: asset-url('curvas3.png');
  background-repeat: no-repeat;
  height: 100vh;
}

.cand-dash-box {
  background-color: rgba(255,255,255,0.9);
  line-height: 32px;
  padding: 30px;
  display: grid;
  margin: 2% 1% 0 1%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas:
  " cand-name             video-one          button-send-resume "
  " image-photo           video-two          . "
  " text-cand-resume      video-three        . "
  " resume                resume             resume"
}

.cand-dash-title {
  padding-bottom: 20px;
  h1 {
    font-size: 1.5rem;
  }
}

.cand-dash-name {
  font-size: 2rem;
  grid-area: cand-name;
}

.cand-dash-photo {
  grid-area: image-photo;
}

.cand-dash-description {
  grid-area: text-cand-resume;
  padding-top: 30px;

}

.cand-dash-resume{
  grid-area: resume
}

.btn-cand-dash {
  margin-top: 0;
  grid-area: button-send-resume;
  justify-self: end;
}
