.navbar-lewagon {
  justify-content: space-between;
  background: #ffffff;
  width: 100vw;
  // position: fixed;
  padding: 20px 70px 20px 70px;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 180px;
}
