.dashboard-container {
  position: relative;
}

.recruiter-dashboard {
  position: absolute;
  top: 10rem;

  h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 800;
    text-align: left;
    margin-bottom: 15px;
  }

  table {
    width:100%;
    table-layout: fixed;
  }

  .tbl-header {
    background-color: #6FAEF7;
   }

  .tbl-content {
    height: 100%;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }

  th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 800;
    font-size: 15px;
    color: #48328B;
    text-transform: uppercase;
  }

  td {
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }


}

.recruiter-background {
  // background-image: linear-gradient(#0B1ACE, #1D2EFD);
  // background-repeat: repeat;
  // background-size: 100%;
  // height: auto;
  margin: 0;
  padding: 0;
  background-color: #0B1ACE !important;
  background-size: cover !important;
  background-repeat: repeat !important;
}

.btn-recruiter-table {
  margin-top: 100px;
  margin-bottom: 60px;
  margin-left: 880px;
  background-color: #48328B;
  color: #ffffff;
  padding: 7px 12px 7px 12px;
  font-size: 1.0rem;
  text-align: center;
  font-family: "Space Mono", monospace;
  border-radius: 20px;
}

.joboffers-show {
  transform: translate(-250px, -300px);
  height: 600px;
}
