// DIVS //

.role-background {
  height: 110vh;
  margin-top: 2vh;
  padding-top: 2vh;
  background-image: asset-url('signup-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.role-box {
  background-color: rgba(255,255,255,0.2);
  padding: 30px;
  width: 30%;
  margin: auto;
}


#role-title {
  color: #FFE310;
  font-family: "Nunito", sans-serif !important;
  font-weight: 800;
  margin-bottom: 2rem;
}

