.yellow-box {
  // border: 2px dotted yellow;
  display: flex;
  // background-color: #FFE310;
  background: linear-gradient(120deg, #FFE310 0%, #CEED21 100%);
  margin-top: 0px;
  width: 100vw;
  height: 200px;
  padding: 70px 0px 70px 0px;
  justify-content: center;

  .search-bar {
  flex-direction: row;
  width: 400px;
  }

}

