h1 {
  color: #0B1ACE;
  font-weight: 800;
  font-size: 2.5rem;
  text-align: left;
  font-family: "Space Mono", monospace;
}

h2 {
  color: #0B1ACE;
  font-size: 1.2rem;
  text-align: left;
  font-family: "Space Mono", monospace;
}

p {
  color: #48328B;
  font-size: 1.1rem;
  text-align: left;
  font-family: "Nunito", Helvetica, Sans-serif;
}

.t_testimonials {
  color: #0B1ACE;
  font-weight: 800;
  font-size: 2.0rem;
  text-align: center;
  font-family: "Space Mono", monospace;
  margin-bottom: 20px;
}

